/* Estilo general */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

section {
    margin-bottom: 40px;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

/* Ejercicio 1 */
.flex-container {
    display: flex;
}

.justify-content{
justify-content: center;
justify-content: space-between;
    
}
.flex-item{
    background-color: lightcoral;
    padding: 20px;
    border: 2px solid #333;
}



