* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f2f2f2;
}

/* HEADER */
.header {
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
    background-image: url(../imgs/dddd.webp);
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    width: 100%;

}

.header h1 {
    color: #fff;
    font-size: 20px;
    text-align: left;
    padding-top: 40px;
}

#logo {
    width: 150px;
    /* adjust as needed */
    height: auto;
    /* maintain aspect ratio */
    display: block;
    /* ensures proper spacing */
}

.img-header {
    text-align: center;
    /* centers the logo */
    padding: 20px;
}

/* NAVIGATION */

.nav-links {
    flex: 1;
    text-align: right;

}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;

}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #8fa3aa;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.text-box h1 {
    font-size: 90px;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 25px;
    color: #FFF;
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}